/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/*#map { position:absolute; top:0; bottom:0; width:100%; }*/
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
  z-index: 0
}

.demo-layout-transparent {
  background: ghostwhite;
  color: black;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}


.form-container, .header, .mapboxgl-popup-content{
  text-align: center;
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}

.userMarker, .marker {
  border-radius: 50%;
}

.userMarker:hover, .marker:active {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.mapboxgl-popup-content {
  width: 200px;
  height: 200px;
}

.form-container {
  margin-top: 20vh;
}

.mapboxgl-popup {
    max-width: 400px;
    width: 200px;
    height: 200px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mdl-layout__drawer {
  width: 100vw;
  left: -100vw;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}

@media screen and (max-width: 640px)  {
   .mdl-navigation__link {}
 } 

/*Chat styles */
#chat-card-container {
    padding-top: 0;
    width: 100%;
    height: 205px;
    border-top-right-radius: 2px;
}

#chat-input-container {
    height: 80px;
    bottom: 50px;
    margin-top: 0;
    padding-top: 0;
}

#chat-input-wrap {
    left: 20px;
    width: 60%;
}

#chat-input {
    margin-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#chat-card {
    padding: 10px 20px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    overflow-y: auto;
}

#chat {
    position: relative;
    float: right;
    margin: 15px 10px 0 0;
}

/* Footer */
footer {
  height: 100px;
}
