/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/*#map { position:absolute; top:0; bottom:0; width:100%; }*/
* {
    box-sizing: border-box;
}

.mdl-layout__content {
  background: #fff;
  height: 100vh;
}

#map {
  height: 100%;
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.demo-layout-transparent {
  background: ghostwhite;
  color: black;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}

.marker, .userMarker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.mapboxgl-popup-content {
  width: 200px;
  height: 200px;
}

.mapboxgl-popup {
    max-width: 400px;
    width: 200px;
    height: 200px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mdl-layout__drawer {
  width: 100vw;
  left: -100vw;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}

.form-container {
  padding-top: 10vh;
}

form, .header {
  text-align: center;
}

#password {
  font: small-caption;
  font-size:16px;
}

.signin-buttons {
  margin-bottom: 10px;
}

