html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  position: absolute; 
  top:0; 
  left: 0;
  bottom:0; 
  width: 100%;
}

#log {
  height: 60%;
   display: block;
   justify-content: flex-end;
   overflow-y: scroll;
}

.messages {
  display: block;
  margin-left: 20px;
}

#comment-container {
  z-index: 99;
}

.demo-layout-transparent {
  background: ghostwhite;
  color: black;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}

.mdl-grid {
  padding-top: 0;
}

.form-container, .header, .mapboxgl-popup-content{
  text-align: center;
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    background-size: cover;
}

.userMarker, .marker {
  border-radius: 50%;
}

.mapboxgl-popup-content {
  width: 200px;
  height: auto;
}

.form-container {
  margin-top: 20vh;
}

.mapboxgl-popup {
    max-width: 400px;
    width: 200px;
    height: 200px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mdl-layout__drawer {
  width: 250px;
  left: -250px;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}

#chatbox {
  color: #9e9e9e ;
  background-color: #fff9c4 ;
  position: fixed;
  margin: 0;
  width: 400px;
  right: -400px;
  height: 100%;
  overflow: auto;
  transition: all 1s ease;
  /*display: flex;
  */justify-content: flex-end;
}

#chatbox.active {
  right: 0;
}

#chat-container {
  height: 65%;
  background: white;
  position: relative;
}

/*#log {
  height:2 ;
  min-height: 200px;
  background-color: white;
}*/

#comment-container {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
}

 i {
  right: 0;
  margin-bottom: 30px;
  width: 20px;
}

#close-chat {
  left: 20px;
  top: 10px;
}

h4 {
  text-align: center;
}

#chatInput {
  position: absolute;
  bottom: 0;
  padding-bottom: 160px;
  padding-left: 15px;
  padding-right: 10px;
}

#chatbutton {
  position: absolute;
  bottom: 0;
  width: 30px;
  margin-left: 35%;
  height: 40px;
  margin-bottom: 33%;
  background: #90caf9;
}

#chattext-center {
  text-align: center;
}


@media screen and (max-width: 640px)  {
 } 

#username-container {
  margin-left: 20px;
}

@media screen and (max-width: 640px){

  #chatbox {
    bottom: 0;
    /*background-color: #fff9c4;*/
    width: 100%;
    /*height: 40%;*/
  }

  #chatInput {
    padding-bottom: 100px;
    margin-left: 25%;
  }

  #chatbutton {
    margin-left: 42%;
    margin-bottom: 5%;
  }

  /*#map {
    width:100%;
    height: 60%;
  }*/
}
